@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn-sky {
        @apply bg-sky-500 px-3 py-2 rounded shadow-md active:bg-sky-600 hover:bg-sky-400 text-white
    }

    
}
@layer utilities{
    .text-xxs {
        font-size:10px;
        line-height:14px;
    }
    .text-2xs {
        font-size:8px;
        line-height:12px;
    }
    
    

    
}

